@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(244, 245, 254, 1);
}

.header-title {
    background: rgba(244, 245, 254, 1);
    max-width: calc(100% - 3em);
    margin: 0 auto;
    padding: .5em 20px;
    color: #6c6c6c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.header-title li:nth-child(1) {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title li:nth-child(2) {
    margin-right: 1em;
    width: 40px;
}

.header-title li:nth-child(3) {
    width: 400px;
}

.header-title li:nth-child(4) {
    width: 200px;
}

.header-title li:nth-child(5) {
    width: 80px;
}

.title {
    width: 400px;
}

.artist-name {
    width: 200px;
}

.rhap_controls-section {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rhap_button-clear {
    width: 50px;
    height: 50px;
}

.rhap_main-controls {
    display: flex;
    flex-direction: row;
}

.rhap_play-pause-button {
    border-radius: 50%;
    border: none;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 1em;
    cursor: pointer;
}

.rhap_skip-button {
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.rhap_repeat-button,
.rhap_volume-button {
    background: #eee;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rhap_main {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    padding: 2em 1em 1em 1em;
    background: #fff;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 25px;
}

.playlist-wrapper {
    width: calc(60vw - 50px);
    height: calc(100vh - 4em);
    background: rgba(244, 245, 254, 1);
    overflow-y: scroll;
    margin: 2em 0 2em auto;
    overflow-x: hidden;
}

.playlist-block {
    max-width: calc(100% - 3em);
    background: transparent;
    padding: 1em;
    border-radius: 8px;
    margin: .4em auto;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .15s ease;
}

.playlist-block img {
    margin-right: 1em;
}

.playlist-block:hover {
    background: #fff;
}

.playlist-block .audio-wave-wrapper {
    display: none;
}

.playlist-block.active .audio-wave-wrapper {
    display: block !important;
}

.playlist-block.active .duration {
    display: none;
}

.playlist-block:hover .audio-wave-wrapper {
    display: block;
}

.playlist-block:hover .duration {
    display: none;
}

.playlist-block.active {
    padding: 1em;
    transform: scale(1.02);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    background: #fff;
}


.rhap_progress-container {
    margin: 0 auto;
    width: 78%;
    padding: 6px 0;
}

.rhap_current-time,
.rhap_time {
    width: 40px;
}

.rhap_progress-bar,
.rhap_progress-indicator,
.rhap_progress-filled,
.rhap_progress-progress {
    height: 6px !important;
    width: 100%;
}


.rhap_repeat-button {
    pointer-events: none;
    opacity: 0;
}

.rhap_progress-filled {
    background: #000;
    border-radius: 100px;
    z-index: 3;
    margin-top: -6px;
    position: relative;
}

.rhap_progress-filled:hover .rhap_progress-filled::after {
    width: 15px;
    height: 15px;
}

.rhap_progress-filled::after {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 3px;
    right: -15px;
    content: '';
    background: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.rhap_progress-indicator {
    background: #eee;
    border-radius: 100px;
}

.rhap_progress-section {
    max-width: 900px;
    margin: 0 auto 3em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rhap_download-progress {
    /*max-width: 725px;*/
    margin-top: -6px;
    height: 6px;
    border-radius: 100px;
    background: #b0b0b0;
}

.playlist-block {
    display: flex;
    flex-direction: row;
}

.id {
    margin-right: 1em;
}

.rhap_volume-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rhap_volume-container:hover .rhap_volume-bar-area {
    width: 100px;
}

.rhap_volume-container:hover .rhap_volume-indicator {
    opacity: 1;
}

.rhap_volume-bar-area {
    transition: width .3s ease;
    margin-left: 1em;
    width: 0px;
    height: 6px;
    border-radius: 100px;
    background: #eee;
}

.rhap_volume-bar {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 100px;
}

.rhap_volume-indicator {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    height: 6px;
    left: 0;
    background: #eee;
    opacity: 1;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
}

.rhap_volume-filled {
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #000000;
    border-radius: 2px;
}

.duration {
    width: 40px;
}

.cover {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: fill;
}

.curr-music-wrapper {
    width: 100%;
    height: 230px;
    max-width: 900px;
    margin: 1em auto;
    border-radius: 26px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, .2);
    overflow: hidden;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.curr-music-wrapper img {
    border-radius: 16px;
    height: calc(230px - 2em);
    width: calc(230px - 2em);
    object-fit: contain;
    margin-right: 3em;
}

.curr-music-wrapper h3 {
    margin-top: .5em;
    font-weight: 500;
}

.player-wrapper {
    width: 40vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2em;
    text-align: center;
    background: #fff;
}

.player-wrapper img {
    width: 100%;
    height: 100%;
    max-width: calc(500px - 4em);
    max-height: calc(500px - 4em);
    border-radius: 32px;
    margin-bottom: 1em;
}

.title-artist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-artist p:first-child {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 18px;
}

.title-artist p:last-child {
    color: #6c6c6c;
    font-size: 16px;
}

.cover-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cover-text img {
    width: 55px;
    height: 55px;
    border-radius: 8px;
}

.main-text {
    margin: 0 0 1em 1em;
}

/* Audio Wave */


#wave {
    height: 40px;
    width: 40px;
    fill: #000;
}

#wave.active #Line_1 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

#wave.active #Line_2 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#wave.active #Line_3 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

#wave.active #Line_4 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#wave.active #Line_5 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

#wave.active #Line_6 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#wave.active #Line_7 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}

#wave.active #Line_8 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

#wave.active #Line_9 {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    -webkit-animation-delay: 1.35s;
    animation-delay: 1.35s;
}

@-webkit-keyframes pulse {
    0% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
    50% {
        transform: scaleY(0.7);
        transform-origin: 50% 50%;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
}

@keyframes pulse {
    0% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
    50% {
        transform: scaleY(0.7);
        transform-origin: 50% 50%;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
}

/* Audio Wave */

.play-btn-img {
    margin: 0 !important;
    width: 40px;
    height: 40px;
}

.big-audio-wave svg {
    margin-top: 1.5em;
    width: 160px !important;
    height: auto !important;
}